<ion-content color="tertiary">
  
  <ion-header>
    <ion-toolbar class="tabsColorP">
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon color="tertiary" slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <div class="header-title">
        About Me
      </div>
    </ion-toolbar>
  </ion-header>
  
  <!-- About Developer Card -->
  <ion-card class="disclaimer-card">
    <ion-card-header>
      <ion-card-title class="card-title">About Ideon Franco M. Dequilla</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="disclaimer-text">
        I am Ideon Franco M. Dequilla, a developer passionate about creating innovative solutions using technology. Currently pursuing a Bachelor of Science in Information Technology (BSIT) degree.
      </p>
      <p class="disclaimer-text">
        This project is a demonstration of my skills and dedication to the field of web development. I strive to contribute meaningful projects to the tech community.
      </p>
    </ion-card-content>
  </ion-card>
  
  <!-- Photo Card -->
  <ion-card color="tertiary" class="photo-card">
    <ion-card-header>
      <ion-card-title class="card-title">Brought to You By:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="../../../../assets/LuXe.png" alt="Descriptive Alt Text" class="photo-image"/>
    </ion-card-content>
  </ion-card>

</ion-content>