<ion-content color="tertiary">
  
  <ion-header>
    <ion-toolbar class="tabsColorP">
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon color="tertiary" slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <div class="header-title">
        Company History
      </div>
    </ion-toolbar>
  </ion-header>
  
  <!-- Company History Card -->
  <ion-card class="disclaimer-card">
    <ion-card-header>
      <ion-card-title class="card-title">Company History</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="disclaimer-text">
        Our company has a rich history dating back to its founding in [Year]. Since then, we have been dedicated to providing high-quality products and services to our customers.
      </p>
      <p class="disclaimer-text">
        Over the years, we have expanded our operations globally, adapting to changing market trends and technologies while staying true to our core values.
      </p>
    </ion-card-content>
  </ion-card>
  
  <!-- Photo Card -->
  <ion-card color="tertiary" class="photo-card">
    <ion-card-header>
      <ion-card-title class="card-title">Brought to You By:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="../../../../assets/LuXe.png" alt="Descriptive Alt Text" class="photo-image"/>
    </ion-card-content>
  </ion-card>

</ion-content>