

<ion-content color="tertiary">
  
  <ion-header>
    <ion-toolbar class="tabsColorP">
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon color="tertiary" slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <div class="header-title">
      </div>
    </ion-toolbar>
  </ion-header>
  <!-- Disclaimer Card -->
  <ion-card class="disclaimer-card">
    <ion-card-header>
      <ion-card-title class="card-title">Disclaimer</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="disclaimer-text">
        This project is created for school purposes only. I do not own any of the items that are sold here; they are used solely for academic projects. 
        It is not my intention to infringe upon anyone's intellectual property or to plagiarize any products. 
        All content is used for educational purposes, and I acknowledge the original creators of the items displayed.
      </p>
      <p class="disclaimer-text">
        This content has been browsed and copied from various online platforms such as Amazon, Shopee, Lazada, and more. 
        All items are for educational purposes and not for commercial use.
      </p>
    </ion-card-content>
  </ion-card>

  <!-- Photo Card -->
  <ion-card  color="teriary"class="photo-card">
    <ion-card-header>
      <ion-card-title class="card-title ">Brought to You By:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="../../../../assets/LuXe.png" alt="Descriptive Alt Text" class="photo-image"/>
    </ion-card-content>
  </ion-card>
</ion-content>