<ion-content color="tertiary">
  
  <ion-header>
    <ion-toolbar class="tabsColorP">
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon color="tertiary" slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <div class="header-title">
        Contact Me
      </div>
    </ion-toolbar>
  </ion-header>
  
  <!-- Contact Information Card -->
  <ion-card class="disclaimer-card">
    <ion-card-header>
      <ion-card-title class="card-title">Contact Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="disclaimer-text">
        Phone: 09206936850
      </p>
      <p class="disclaimer-text">
        Address: 3A Humilada St., Taytay, Rizal
      </p>
    </ion-card-content>
  </ion-card>
  
  <!-- Photo Card -->
  <ion-card color="tertiary" class="photo-card">
    <ion-card-header>
      <ion-card-title class="card-title">Brought to You By:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="../../../../assets/LuXe.png" alt="Descriptive Alt Text" class="photo-image"/>
    </ion-card-content>
  </ion-card>

</ion-content>